<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="keywords" content="comrades,aplikasi,application,hiv,aids,hiv/aids,PLWH,information,odha,konsultasi,support,dukungan,komunitas,informasi,peduli,sahabat,arv,reminder,obat,tweet">	
	<title><%=data.judul%> - Comrades Applications</title>
	
	<meta property="og:title"              content="<%=data.judul%>" />
	<meta property="og:type"               content="article" />
	<meta property="og:description"        content="<%=data.deskripsi%>" />
	<meta property="og:url"                content="<%=data.slug%>" />
	<meta property="og:image"              content="<%=foto%>" />

	<link rel="icon" type="image/x-icon" href="/backend/img/icon.png"/>
	<link rel="stylesheet" type="text/css" href="/frontend/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/frontend/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/frontend/css/style.css">
	<link rel="stylesheet" type="text/css" href="/frontend/css/flexslider.css">
	<link rel="stylesheet" type="text/css" href="/frontend/css/responsive.css">
	<script src="/frontend/js/jquery-2.1.1.min.js"></script>
</head>
<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v2.8&appId=1486810361635546";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>

	<header>
		<!-- Navigation -->
		<nav class="navbar" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<i class="fa fa-bars"></i>
					</button>
					<a class="navbar-brand" href="/"><img src="/backend/img/logo2.png" alt="Logo" style="width:200px;height:50px;margin-top:-20px;"></a>
				</div> <!-- navbar-header -->
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a class="current" href="/">home</a></li>
						<li><a href="/about">about</a></li>
						<li><a href="/artikel">Artikel</a></li>
						<li><a href="/berita">Berita</a></li>
						<li><a href="/event">Event</a></li>
						<li><a href="/user/daftarPremium">User Premium</a></li>
						<li class="dropdown"><a href="#">Language</a>
							<ul>
								<li><a href="#"><font color="#484a54">English</font></a></li>
								<li><a href="#"><font color="#484a54">Indonesian</font></a></li>
							</ul>
						</li>
					</ul>
				</div> <!-- navbar-collapse -->
			</div> <!-- container -->
		</nav>

	</header>
	<main id="blog-post">
		<div class="container">
			<div class="wrapper">
				<div class="row">
					<div class="col-md-8">
						<script type="text/javascript" src="/frontend/js/share.js"></script>
						<a data-service="facebook" id="sharefb">facebook</a>
						<article>
						<img class='head' src="<%=foto%>" alt="<%=data.judul%>" style='width:749.5px;height:400px'>
          				<div class='content'>
            				<div class='text'>
								<p class='time'><%=data.tgl_posting%></p>
                				<h5><%=data.judul%></h5>
                				<p><%-data.isi%><a href="<%=data.sumber%>" target=_blank>More</a></p>
                				<span class='line'></span>
								 <ul class='list-unstyled list-inline bottom'>
								 <li class='tags'>
									<h3>
									<i class='fa fa-tags'></i>
									<a href='#'>#comrades</a>
									<a href='#'>#aplikasi</a>
									<a href='#'>#hiv</a>
									<a href='#'>#aids</a>
									<a href='#'>#hiv/aids</a>
									<a href='#'>#odha</a>
									<a href='#'>#informasi</a>
									<a href='#'>#konsultasi</a>
									<a href='#'>#support</a>
									<a href='#'>#dukungan</a>
									<a href='#'>#komunitas</a>
									</h3>
								 </li>
								 </ul>
							</div>
            			</div>
						</article>
					</div>
					<% include ../partials/nav %>
				</div> <!-- row -->
			</div> <!-- wrapper -->
		</div> <!-- container -->
		<a class="scrolltop" href="#"><i class="fa fa-arrow-up"></i></a>
	</main>
	<script>
		var list = document.getElementsByTagName('a');
		Share.init(list, {
    		title: "<%=data.judul%>",
    		url: window.location.href
    	});
	</script>
<% include ../partials/footer %>
